*{
    margin: 0; padding: 0; box-sizing: border-box; list-style: none;   
}
.header{
   
    width: 100%;
    height: 90px;
    background-color: rgb(57, 65, 72);
    display: flex;
}
.logo{
    
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.logo img{
    padding: 3px;
    width: 25%;
    height: 100%;
    border-radius: 50%;
    box-shadow:     0px 0px 4px 1px black;
    
}
.menu{
   
    
    width: 50%;
    height: 100%;
}
.menus, .redes{
    display: flex;
    width: 100%;
    height: 50%;
}
.menus{
    justify-content: space-around;
}
.redes{
    justify-content: flex-end;
}
.redes li{
    margin-right: 10px;
}
li{
    
    color: white;
    font-family: sans-serif;
    
}
.usuario{
    color: red;
    font-size: 17px;
    display: flex;
    justify-content: center;
    

}

@media  (max-width:1096px){
    .header{
        display: block;
    }
    .logo, .menu{
        width: 100%;
        background-color: rgb(57, 65, 72);
    }
    .logo{
        display: flex;
        justify-content: center;
    }
    .logo img{
        width: 20%;
        border-radius: 20px;
    }
}

@media  (max-width:572px){
    li{
        font-size: 12px;
    }
    .redes{
        justify-content: center;  
    }
    .redes li{
        margin-top: 15px;
    }
}
@media  (max-width:360px){
    li{
        font-size: 11px;
    }
}

/* section */
.section{
    display: flex;
   
    width: 100%;
    height: 900px;
}
.tarjetas{
    border-top: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(76, 112, 50);
}
.tarjeta1{
    
    width: 90%;
    height: 75%;
}
.contenido{
    width: 100%;
    height: 20%;
    
    display: flex;
}
.imagen{
    width: 50%;
    height: 100%;
    padding: 2px;
    
}
.text{
    width: 50%;
    height: 100%;
}
.texto1{
    width: 100%;
    height: 100%;
}
.imagen1{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    box-shadow:     0px 0px 4px 1px black;
}
.aside{
    border-top: 1px solid rgb(28, 102, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
   
    background-color: rgb(76, 112, 50);
}
.noticias{
    width: 80%;
    height: 300px;
    border: 1px solid black;
    background-color: rgba(22, 78, 182, 0.994);
    border-radius: 2px;
    box-shadow:     0px 0px 4px 1px black;
    margin-top: -363px;
    
}
.registrate{
    text-align: center;
    color: white;
    margin: 2px;
}
form{
    
    width: 100%;
    padding: 20px;
}
input{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 2px;
    border: none;
}
.enviar{
    margin-top: 20px;
    box-shadow:     0px 0px 4px 1px black;

}





@media  (max-width:1096px){
    .section{
        margin-top: 90px;
    }
}

@media  (max-width:840px){
    .texto1{
        font-size: 13px;
    }
}
@media  (max-width:619px){
    .texto1{
        font-size: 11px;
    }
}

@media  (max-width:437px){
    .texto1{
        font-size: 10px;
    }
    .imagen1{
        height: 50%;
    }
    body{
        font-size: 09px;
    }
    .footerO{
        display: none;
    }
    
   .section{
       display: block;
   }
   .tarjetas, .aside{
       width: 100%;
   }
   .footer-d{
       display: block !important;
       color: white;
       text-align: center;
   }
   .noticias{
       width: 41%;
       height: 92%;
       margin-top: 0px;
   }
   .aside{
       height: 29%;
   } 
   .tarjeta1{
       height: 92%;
   }
   .contenido{
       height: 21%;
   }
   .texto1{
       font-size: 13px;
   }
   .aside{
    border-top: 1px solid transparent;
   }
}




footer{
    background: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    color: white;
}
.botonRegistrate{
    display: none;  
}
.btnRegistro{
    width: 100%;
    height: 50%;
    box-shadow: 0px 0px 7px 3px black;
    background-color: rgb(162, 152, 152);
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    
}
.btnRegistro:hover{
    background-color: blue;
    
}
.popUp{
    display: flex;
    text-align: center;
    background-color: red;
    justify-content: center;
    
}


/* para hacer el popup */
.btnPopUP {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(37, 67, 116);
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    cursor: pointer;
   
    }
  
  .modal-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    padding: 40px;
    pointer-events: auto;
    opacity: 1;
  }
 /*  .show {
    pointer-events: auto;
    opacity: 1;
  } */

.cerrar{
    display: none !important;
} 
  .modal {
    display: none;  
    margin-top: 50%;
    background-color: rgba(22, 78, 182, 0.994);
    box-shadow: 0px 0px 4px 1px black;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    
    text-align: center;
  }

  .aqui{
      font-size: 23px;
  }
 
  

/* media query para el popup*/
@media (max-width:436px){
    .noticias{
        display: none;
    }
    .btnPopUP{
        display: block;
    }
    .modal-container{
        display: block;
    }
    .modal{
        display: block;
    }
}


